$scroll-vertical-width: 10px;
$scroll-vertical-height: calc(100% - #{$scroll-vertical-width * 2});

html, body {
    height: 100%;
    // overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    top: 50px;
    margin: auto;
    padding: 20px;
    max-width: 400px;
}

.scrollbar {
    position: relative;
    background-color: #EEE;
    outline: none;
}
.scroll-view {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scroll-area {
    position: relative;
    top: 0;
    left: 0;
    outline: none;
    transform: translate(0);
}

.scroll-area p{
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-indent: 20px;
    color: #777;
}

.scrollbar-vertical {
    width: $scroll-vertical-width;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
}

.scrollbar-vertical__track {
    position: relative;
    top: 20px;
    width: 100%;
    height: calc(100% - 40px);
    background: #222;
}

.scrollbar-vertical__thumb {
    position: absolute;
    transform: translate(0);
    top: 0;
    left: 0;
    width: $scroll-vertical-width;
    height: 30px;
    background-color: #CCC;
    &:hover {
        cursor: default;
    }
}
.scrollbar-vertical__button {
    position: absolute;
    width: 100%;
    right: 0;
    padding: 0;
    border: none;
    outline: none;
    opacity: .9;

    &:hover {
        opacity: 1;
    }
    &--bottom {
        bottom: 0;
    }
}